


<div class="row">
    <div class="col-md-6 offset-md-3">
        <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h4>Introduzca los siguientes datos:</h4>
            <label>Correo Electrónico</label>
            <input type="email" id="inputEmail" class="form-control" formControlName="email" required autofocus>
            <label>Contraseña</label>
            <input type="password" id="inputPassword" class="form-control" formControlName="password" required>
            <hr>
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" *ngIf="!autenticado">Inicie
                sesión</button>
            <button type="submit" class="btn btn-primary" *ngIf="autenticado">Autenticando usuario...</button>
            <p class="alert alert-danger" *ngIf="mensaje">
                El usuario o contraseña no es correcto
            </p>
        </form>
 -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            
            <button type="submit" class="btn btn-primary" *ngIf="!autenticado">Inicie sesión con Google</button>
            
            <p class="alert alert-danger" *ngIf="autenticado">
                Sí ha podido logearse con Google y el valor de autenticado es {{autenticado}}
            </p>
        </form>

        <p>Si no dispone de cuenta pulse <a routerLink="/registro">aquí</a></p>

    </div>
</div>
