<agm-map [latitude]="latitude" [longitude]="longitude">
    <agm-marker *ngFor="let place of places" [latitude]="place.latitude" [longitude]="place.longitude"></agm-marker>
</agm-map>
<p></p>

 <div id="map">Aquí va la imagen de Sevilla</div>


 <iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBCdmIvuKFOI8nAlQIbx7TiCegFiVLy3E8&&q=Sevilla+Spain"
  allowfullscreen>
</iframe>
